@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body{
    background: rgb(214, 213, 213);
}

/* HEADER */
.page-banner{
    content: "";
    background: rgb(126, 126, 129); 
    box-shadow: 8px 8px 8px ;
}

.header-container{
    content: "";
    padding-left: 36px;
    max-width: 1400px;
    display: flex;
    align-items: center;

}
.road{
    width: 160px;
}

.home_link{
    margin-right: 50%;
}

.home{
    margin-top: 16px;
    width: 60px;
}

.header-text{
    font-size: 75px;
    color: rgb(20, 20, 20);
}

@media (max-width: 1306px) {
    .header-text{
        font-size: 50px;
    }

    .home{
        margin-top: 7px;
        margin-right: 8px;
        width: 50px;
    }
}

@media (max-width: 960px) {
    .header-text{
        font-size: 35px;
        
    }
    .home_link{
        margin-right: 0%;
    }
    
}